
    body {
      background-color: #dafdfae1;
    }
    hr {
      border-style: none;
      border-top-style: dashed;
      border-color: rgba(24, 163, 163, 0.54);
      border-width: 5px;
      height: 0px;
      width: 20%;
    }
    h3{
        color: rgb(24, 163, 163);
    }
    h1{
        color: rgb(24, 163, 163);
    }
    h2{
        color: rgb(24, 163, 163);
    }